<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bristol.project.dao.ShopDao">

    <insert id="create" parameterType="Shop" useGeneratedKeys="true" keyProperty="shopId" keyColumn="shop_id">
        insert into shop(username, shop_name, location_description,
                         service_for_gender,phone_number)
        values(#{username},#{shopName},#{locationDescription},
               #{serviceForGender},#{phoneNumber});
    </insert>


    <insert id="createServ" parameterType="ShopServ" useGeneratedKeys="true" keyProperty="serviceId" keyColumn="service_id">
        insert into shop_service(shop_id, service_name, description)
        values(#{shopId},#{serviceName},
               #{description});
    </insert>


    <delete id="deleteShopByShopId">
        delete from shop
        where shop_id=#{shopId};
    </delete>

    <delete id="deleteServiceByServiceId">
        delete from shop_service
        where service_id=#{serviceId};
    </delete>


    <update id="updateShopByUsername" parameterType="Shop">
        update shop
        set shop_name=#{shopName},location_description=#{locationDescription},
            service_for_gender=#{serviceForGender},phone_number=#{phoneNumber}
        where username=#{username} and length(username)=length(#{username});
    </update>

    <update id="updateShopService" parameterType="ShopServ">
        update shop_service
        set service_name=#{serviceName},description=#{description}
        where service_id=#{serviceId};
    </update>


    <select id="getShopByShopId" resultType="Shop">
        select * from shop
        where shop_id=#{shopId};
    </select>

    <select id="getShopByShopName" resultType="Shop">
        select * from shop
        where shop_name=#{shopName};
    </select>

    <select id="getShopByUsername" resultMap="shopWithService">
        select * from shop
        where username=#{username} and length(username)=length(#{username});
    </select>
    <resultMap id="shopWithService" type="Shop" >
        <result property="shopId" jdbcType="BIGINT" column="shop_id"/>
        <collection property="shopServs" javaType="ArrayList" ofType="ShopServ" select="getShopServiceByShopId" column="shop_id">
            <result property="serviceName" jdbcType="VARCHAR" column="service_name"/>
            <result property="description" jdbcType="VARCHAR" column="description"/>
        </collection>
    </resultMap>
    <select id="getShopServiceByShopId" resultType="ShopServ">
        select * from shop_service
        where shop_id=#{id}
    </select>


    <select id="getSomeShop" resultMap="shopWithService">
        select * from shop order by `rate_points` DESC limit 10;
    </select>


    <select id="getAllShop" resultMap="shopWithService">
        select * from shop;
    </select>

</mapper>